.divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.card {
  transition: .5s transform ;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  max-height: 300px;
  object-fit: cover;
  /*object-position: top;*/
}

.bi {
  transition: transform .2s ease-in-out;
}

.bi:hover {
  transform: scale(1.1);
}

.accordion-body {
  padding: 0;
}

.accordion-button.collapsed {
  background-color: rgb(227, 240, 255);
}

.certificate {
  cursor: zoom-in;
}

.certificate-close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  width: 0.5em;
  height: 0.5em;
  background-size: contain;
}

.header-info a {
  text-decoration: none;
}

.under {
  position: relative;
}

.under::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scale(0);
  transition: all .3s;
}

.under:hover::before {
  transform: scale(1);
}

@media (max-width: 440px) {
  .navbar img {
    display: none;
  }
}
