.divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.card {
  transition: .5s transform ;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  max-height: 300px;
  object-fit: cover;
  /*object-position: top;*/
}

.bi:hover {
  transform: scale(1.1);
}

.accordion-body {
  padding: 0;
}

.accordion-button.collapsed {
  background-color: rgb(227, 240, 255);
}
